.jumbotron {
    background-color: rgb(0, 217, 255);
    color: black;
    margin-top: 50px;
}
footer {
    padding: 10px 10px 0 80px;
    background-color:  rgb(0, 217, 255);
    margin-left: 10px;
    margin-top: 10px;
}
.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}
.botoncito {
    width: 100%;
}
.footer-addres-icon {
    padding-right: 10px;
}
.tab-content {
    padding-top: 10px;
}

