$blue:#7be8e3;
// $yellow: #e8eb49;
// $red: #eb49d2;

@mixin margenes($top, $botton) {
    margin-top: $top;
    margin-bottom: $botton;
    
}
.jumbotron {
    background-color:$blue;
    color: black;
    @include margenes(50px, 0px);
}
footer {
    padding: 10px 10px 0 80px;
    background-color: $blue;
    @include margenes(10px, 0px);
}
.card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0px);
}
.botoncito {
    width: 100%;
}
.footer-addres-icon {
    padding-right: 10px;
}
.tab-content {
    padding-top: 10px;
}