.jumbotron {
  background-color: #7be8e3;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}

footer {
  padding: 10px 10px 0 80px;
  background-color: #7be8e3;
  margin-top: 10px;
  margin-bottom: 0px;
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.botoncito {
  width: 100%;
}

.footer-addres-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
